* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
  background-image: url(wallpaperflare.com_wallpaper.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  max-width: 400px;
  width: 100%;
  opacity: 0.96;
  transition: 0.3s ease;
  animation: slider 1s ease;
}
.container:hover {
  opacity: 1;
}

.converter {
  background-color: #262626;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: all 0.3s ease;
}

h2 {
  margin-bottom: 30px;
  color: #024893;
}

.input-group {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-group input,
.input-group select {
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: #333;
  color: #fff;
  font-size: 16px;
  flex: 1;
  margin-right: 10px;
  outline: none;
  cursor: pointer;
}

.input-group select {
  flex: 2;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

button {
  padding: 12px 24px;
  background-color: #024893;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
  outline: none;
  transition: 1s ease;
}

button:hover {
  background-color: #0a74e6;
  transform: scale(1.1);
 
}
button:active{
  background-color: white;
}

#result {
  background-color: #333;
  border: none;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 20px;
  color: #fff;
  font-size: 16px;
  outline: none;
}
p {
  color: white;
}

.api-link {
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: #024893;
  transition: 0.5s ease;
}

/*.....................animation part........................*/
@keyframes slider {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}
